# Operating System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/

# Environment Variables
.env

# Logs
*.log

# VS Code
.vscode/

# Temporary Files
*.tmp

# Memory database
database/memory.json